* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
header {
    background-color: rgb(95, 92, 92);
    color: white;
    padding: 10px 0;
    margin: 0px 50px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;


}

.container {
    width: 800px;
    margin: auto;
}

.flex {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    gap: 20px 120px;
}

.login {
    background-color: blue;
    color: white;
    font-family: sans-serif;
    box-shadow: 2px black;
    font-size: large;
    padding: 0 5px;
}

main {
    flex: 2;
    height: 300px;
    margin-left: 35px;
    margin-top: 20px;
}

aside {
    flex:1;
    border:2px solid rgb(95, 92, 92);
    height:100px;
    margin-right: 35px;
    margin-bottom: 155.59px;
    padding-bottom: 20px;
    box-shadow: 2px black;
}

.ninja {
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}

h4 {
    font-style: italic;
}
.flex-box {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    gap: 20px;
}

.first-box {
    padding-bottom: 10px; 
    border: 2px solid rgb(95, 92, 92);
    box-shadow: 2px black;
}

.meaning {
    text-align: center;
}

span{
    color:mediumblue;
    text-decoration: underline;

}

.like {
    background-color:darkkhaki;
    margin-top: 20px;
}

.second-box {
    padding-bottom: 10px;
    margin-top: 30px;
    border: 2px solid rgb(95, 92, 92);
    box-shadow: 2px black;
}

h3 {
    padding-top: 10px;
    padding-left: 5px;
}

.center {
    text-align: center;
    padding-top: 10px;
}

.define {
    background-color: greenyellow;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    box-shadow: 2px black;
}

